@using MSMS.Models.Shared
@{
    var activeSection = TempData["ActiveSection"] as string;
    var menuModel = new MenuModel { ActiveSection = activeSection };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSMS</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MSMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DashboardTagHelper.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MedicalRecordTagHelper.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <div class="logo-container">
                <img src="~/images/logo.png" class="logo" alt="" />
                <span class="logo-span"> MSMS </span>
            </div>

            <div class="user-container">
                <div class="ham-container" id="ham-menu">
                    <div class="ham-dropdown">
                        <a asp-action="Logout" asp-controller="Login" class="anchor-container">
                            @* <object type="image/svg+xml" data="~/images/Dashboard/logout.svg" class="dropdown-logo"> </object> *@ @* logout icon *@
                            <img src="~/images/Dashboard/logout.svg" class="dropdown-logo"/>
                            <span>Logout</span>
                        </a>
                        <div class="anchor-container">
                            <img /> @* logout icon *@
                            <a asp-action="Diagnosis" asp-controller="MedicalRecords">Laboratory</a>

                        </div>
                        <div class="anchor-container">
                            <img /> @* logout icon *@
                            <a asp-action="Logout" asp-controller="Login">Logout</a>

                        </div>
                        <div class="anchor-container">
                            <img /> @* logout icon *@
                            <a asp-action="Logout" asp-controller="Login">Logout</a>

                        </div>
                        <div class="anchor-container">
                            <img /> @* logout icon *@
                            <a asp-action="Logout" asp-controller="Login">Logout</a>

                        </div>
                    </div>

                    <div class="ham-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>



                <div class="user-avatar">
                    <img src="~/images/Dashboard/user-avatar.svg" alt="">
                </div>
            </div>
        </nav>
        <div class="menu">
            <partial name="Sidebar" model="menuModel" />
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DashboardMenu.js" asp-append-version="true"></script>
</body>
</html>
