@using MSMS.Models.Shared
@{
    var activeSection = TempData["ActiveSection"] as string;
    var menuModel = new MenuModel {ActiveSection = activeSection};
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSMS</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MSMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DashboardTagHelper.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true"/>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="nav-bar">
            <div class="logo">
                <img src="" alt="">
                <span></span>
            </div>
        </header>
        <div class="menu">
            <partial name="Sidebar"  model="menuModel" />
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DashboardMenu.js" asp-append-version="true"></script>
</body>
</html>
