

.container {
	width: 100%;
	height: 100%;
	background-color: white;
	display: grid;

	margin-bottom: 2rem;

	grid-template-rows: 10% repeat(3, 1fr);
	grid-template-columns: 15% repeat(3, 1fr);
	grid-template-areas:
	"nav nav nav nav"
	"menu main main main"
	"menu main main main"
	"menu main main main";

}

.nav-bar {
	grid-area: nav;
	background-color: #A0E7D1
}

.menu {
	margin-top: 1.1rem;
	grid-area: menu;

	background-color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	
	gap: 1rem;

	margin-left: 1rem;
	margin-right: 1rem;
}


.logo {
	width: 100%;
	height: 60%;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 0;
}


.main {
	width: 100%;
	justify-self: center;
	grid-area: main;
	margin-top: 1.2rem;
	margin-right: 1.2rem;
	background-color: white;

	display: flex;
	justify-content: center;

	overflow-y: auto;
}
