@{

}

<div class="container">
    <div style="display: flex; gap: 1rem; width: 60%; justify-content: center;">
        <img src="~/images/Dashboard/access-error.svg" alt="Access Denied" class="access-denied-image" />
        <h1>Access Denied!</h1>

    </div>
    <h2>You do not have the permission to access the file!</h2>
</div>