.container {
	width: 100%;
	height: 100%;
}

.div-grid {
	display: grid;
	grid-template-columns: repeat(var(--active-columns), 1fr);
	grid: auto rows;
	border: 1px solid black;
	border-radius: 1rem;
	justify-items: center;
	align-items: center;
}


.div-table-row {
	grid-column: span var(--active-columns);
	display: grid;
	grid-template-columns: repeat(var(--active-columns), 1fr);
}

#header-row {
	width: 100%;
	padding: 0.5rem;
	border-bottom: 1px solid black;
	border-radius: 0.5rem;
}

/*.div-table-row .header {
	grid-area: header
}*/

.div-table-cell {
	text-align: center;
	padding: 0.3rem;
}

.header {
	font-family: Inter;
	font-weight: bold;
	padding: 0.1rem;
}

.paid {
	color: lightgreen;
	font-weight: bold
}

.unpaid {
	color: red;
	font-weight: bold
}
