
@{
    ViewData["Title"] = "Medicine Inventory";
}

@model MSMS.Models.Dashboard.User

<div class="container">
    <div class="div-table">
        <h1>Test Test</h1>
        <div class="div-table-row table-header">

            <div class="div-table-cell">
                <h1>ID</h1>
            </div>
            <div class="div-table-cell">
                <h1>Generic Name</h1>
            </div>
            <div class="div-table-cell">
                <h1>Brand Name</h1>
            </div>

        </div>
        <div class="div-table-row">

            <div class="div-table-cell">
                <h1>check</h1>
            </div>
            <div class="div-table-cell">
                <h1>check</h1>
            </div>
            <div class="div-table-cell">
                <h1>check</h1>
            </div>

        </div>
    </div>
</div>