.container {
	width: 100%;
	height: 100%;
}

.div-grid {
	--record-columns: 6;
	display: grid;
	grid-template-columns: repeat(var(--record-columns), 1fr);
	grid: auto rows;
	border: 1px solid black;
	border-radius: 1rem;
	justify-items: center;
	align-items: center;

	overflow-y: scroll;
}

.div-table-row:nth-child(n+3) {
	margin-top: 0.5rem;
}


.div-table-row {
	width: 100%;
	grid-column: span var(--record-columns);
	display: grid;
	grid-template-columns: repeat(var(--record-columns), 1fr);
}



#header-row {
	width: 100%;
	padding: 0.5rem;
	border-bottom: 1px solid black;
	border-radius: 0.5rem;
}

/*.div-table-row .header {
	grid-area: header
}*/

.div-table-cell {
	text-align: center;
	padding: 0.3rem;
}

.header {
	font-family: Inter;
	font-weight: bold;
	padding: 0.1rem;
}

.paid {
	color: lightgreen;
	font-weight: bold
}

.unpaid {
	color: red;
	font-weight: bold
}

.anchor, .anchor:visited, .anchor:active{
	text-decoration: none;
	color: inherit;
}

	.anchor:hover {
		background-color: #ABE5F861
	}