.login-container {
    background-color: #6ECCAC33;
    width: 36.3%;
    aspect-ratio: 87 / 52;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-identifier {
    display: block;
}

form {
    opacity : 0;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
	width: 60%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, span {
    text-align: left;
}

.submit-button {
    border: none;
    width: 17%;
    padding: 0.9rem;

    font-size: 1rem;
    border-radius: 0.8rem;
    background-color: #92d8c1;

    transition: 100ms ease-in;
}

.submit-button:hover {
	background-color: white;
    border-radius: 0;

    transform: scale(1.1)
}
