:root{
	--active-columns: 7
}

.menu-item .logo img {
	width: auto;
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo img {
	margin: 0;
	padding: 0;

	flex-shrink: 0;
}

.inventory-form {
	width: 30%;
	border: 2px solid black;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.3rem;
}

	.inventory-form:focus-within {
		border-color: cornflowerblue
	}

.inventory-form i {
	flex: 0 0 auto;
}


.inventory-form input[type=text] {
	flex: 1;
}

#main-form {
	grid-column: span all;
	width: 100%;
}

#activeprod-form {
	grid-column: span var(--active-columns);
	width: 100%;
}

.notification-image {
	width: 1.5rem;

	aspect-ratio: 1/1
}

.text-error {
	color: #dc3545 !important
}

.logo {
	height: 85%;
	object-fit: contain;
	overflow: hidden;
	border-radius: 100%;
}

.anchor-container a {
	text-decoration: none;
	color: black;
	font-family: Inter;

	text-align: center;
}

.dropdown-logo {
	height: 3%;
	object-fit: contain;
	overflow: hidden;
}

